.container-expense {
  position: absolute;
  top: 569px;
  left: 450px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px dotted #000000;
  border-radius: 10px;
}

.container-expense .h3 {
  margin-bottom: 20px;
  margin-top: 5px;
}

.container-expense .grid-xs {
  margin-bottom: 20px;
}

.container-expense label {
  display: block;
  margin-bottom: 5px;
}

.container-expense input {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.container-expense select {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.container-expense .addBudget-btn {
  background-color: black;
  width: 201px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.container-expense .addBudget-btn svg {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.container-expense .addBudget-btn span {
  margin-right: 10px;
}
