.container {
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(88, 88, 88);
  margin-top: 180px;
  margin-bottom: 40px;
  font-size: 40px;
}

h1 span {
  color: #56703e;
  display: block;
  font-size: 40px;
}

p {
  font-size: 20px;
  margin-bottom: 40px;
  width: 550px;
  color: rgb(88, 88, 88);
}

.custom-input {
  display: inline-block;
  width: 300px;
  padding: 10px;
  border: 2px solid #56703e;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(88, 88, 88);
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
}

.custom-input:focus {
  outline: none;
  border-color: #f83939;
}
.Intro {
  display: flex;
}

.Intro-btn-dark {
  background-color: black;
  width: 200px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}

.Intro-btn-dark span {
  margin-right: 10px;
}

.Intro-btn-dark svg {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.image-container {
  flex: 1;
}

.image {
  height: auto;
  width: 432px;
  margin-left: 135px;
  margin-top: 176px;
}
@media (max-width: 1190px) {
  .Intro {
    display: flex;
  }
  h1 {
    font-size: 38px;
  }
  h1 span {
    font-size: 38px;
  }
  p {
    font-size: 18px;
    width: 440px;
  }
  .image {
    height: auto;
    width: 432px;
    margin-left: 90px;
  }
}
@media (max-width: 1000px) {
  .Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 38px;
  }
  h1 span {
    font-size: 38px;
  }
  p {
    font-size: 18px;
    width: 440px;
  }
  .image {
    height: auto;
    width: 332px;
    margin-top: 90px;
    margin-left: -47px;
  }
}

@media (max-width: 400px) {
  .Intro {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 28px;
  }
  h1 span {
    font-size: 28px;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    width: 340px;
    margin-bottom: 20px;
  }
  .custom-input {
    margin-bottom: 10px;
  }
  .image {
    height: auto;
    width: 332px;
    margin-left: 10px;
    margin-top: 66px;
  }
}
